<div class="container m-5">
<h1> Vota por el juego del año </h1>
<hr>

<div lass="row">
    <div class="col">

        <div class="card-group">
            <div *ngFor="let game of games" class="card">
                
              <img [src]="game.url" class="card-img-top" [alt]="game.name">
              <div class="card-body text-white bg-dark">
                <h5 class="card-title">{{ game.name }}</h5>
                
              </div>
              <div class="card-footer d-flex justify-content-evenly">
                <button class="btn btn-outline-dark text-center"
                    (click)="voteGame( game )">Vota aquí</button>
              </div>
            </div>
        </div>

    </div>
</div>

</div>
